.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 19px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 496px;

  padding: 28px 0px 36px 28px;
}

.modal__input {
  display: block;
  width: 440px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  padding: 0;
  padding-top: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  align-items: flex-start;
  color: #0000005d;
  accent-color: #000;
}

.modal__submit {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #0000004d;
  width: 124px;
  height: 36px;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  cursor: pointer;
}

.modal__submit:hover {
  color: #000;
}
.modal__label {
  margin-bottom: 8px;
  font-family: "Cabinet Grotesk";
}

.modal__legend {
  margin-bottom: 12px;
}
.modal__container {
  background-color: white;
  padding: 60px 150px;
  border-style: none;
  position: relative;
  font-family: Cabinet Grotesk, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
}
.modal__delete_question {
  margin: 0;
}

.modal__confirm {
  color: #ff4d00;
  border: none;
  background-color: transparent;
  margin: 40px auto 0;
  cursor: pointer;
}

.modal__cancel {
  border: none;
  background-color: transparent;
  margin: 24px auto 0;
  cursor: pointer;
}
