.modal__content_type_image {
  padding: 0px;
}

.modal__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__caption {
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.modal__footer {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 550;
  padding-left: 32px;
}

.modal__close {
  color: black;
}

.card-item__delete-btn {
  color: red;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  position: absolute;
  outline: none;
  cursor: pointer;
  bottom: 70px;
  left: 380px;
}
